<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="Constants" type="SmaugCS.Config.ConstantConfigurationSection"/>
    <section name="Vnums" type="SmaugCS.Config.VnumConfigurationSection"/>
  </configSections>
  
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  
  <!-- Various game constants -->
  <Constants>
    <add key="MinNameLength" value="3" />
    <add key="MaxNameLength" value="12" />
    <add key="MaximumLayers" value="8" />
    <add key="MaximumWearLocations" value="26" />
    <add key="MaximumExperienceValue" value="500000" />
    <add key="MinimumExperienceValue" value="20" />
    <add key="MaximumLevel" value="65" />
  </Constants>

  <!-- Common VNUMs used in the mud -->
  <Vnums>
    <add key="RoomLimbo" value="2" />
    <add key="RoomTemple" value="21001" />
    <add key="RoomAltar" value="21194" />
    <add key="RoomSchool" value="10030" />
  
    <add key="ObjectMoneySingle" value="2" />
    <add key="ObjectMoneyMulti" value="3" />
  </Vnums>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.Fileappender+MinimalLock" />
      <file value="..\..\..\logs\" />
      <datePattern value="'MUD_'MMddyyyy'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="&#13;&#10;[Session starts]&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;[Session ends]&#13;&#10;" />
        <param name="ConversionPattern" value="%date [%thread] %-5level %appdomain.%logger.%method() – %message%newline" />
      </layout>
    </appender>
  </log4net>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="..\..\..\logs\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
