<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" requirePermission="false"/>
    <section name="ConstantSection" type="SmaugCS.Config.ConstantConfigurationSection,SmaugCS.Config" requirePermission="false"/>
    <section name="VnumSection" type="SmaugCS.Config.VnumConfigurationSection,SmaugCS.Config" requirePermission="false"/>
    <section name="SystemDataSection" type="SmaugCS.Config.SystemDataConfigurationSection,SmaugCS.Config" requirePermission="false"/>
    <section name="StaticStringSection" type="SmaugCS.Config.StaticStringConfigurationSection,SmaugCS.Config" requirePermission="false"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="DefaultDb" connectionString="Data Source=.\sqlexpress;Initial Catalog=Smaug;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="Races" value="Human,Azurnim,Caorlei,Vampire"/>
    <!--Teralei,Denorlei,Taemier,Uralei,Vampire,ValAtur" />-->
    <add key="Classes" value="Mage,Cleric,Thief,Warrior"/>
    <add key="Clans" value="Cleric,Mage,Thief,Warrior"/>
    <add key="Deities" value="Maron"/>
    <!-- Urman, Anaeras, Vulas, Talmar, Veanur, Vaenar, Melesa, Myasa, Olare, Akanis, Tanagos, Ur, Laisi, Amon Gwareth -->
    <add key="Areas" value="TheVoid,InnSevenRealms,Aran"/>
    <!--help-->
    <add key="SysDataFile" value="sysdata.dat"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Councils" value=""/>
    <add key="host" value="127.0.0.1"/>
    <add key="port" value="9001"/>
    <!-- System Data Values -->
    <add key="MudName" value="The Seven Realms"/>
    <add key="CheckImmortalHost" value="true"/>
    <add key="NameResolving" value="true"/>
    <add key="WaitForAuthorization" value="false"/>
    <add key="WizardLocked" value="false"/>
  </appSettings>
  <!-- Various game constants -->
  <ConstantSection>
    <Constants>
      <add name="MinNameLength" value="3"/>
      <add name="MaxNameLength" value="12"/>
      <add name="MaximumLayers" value="8"/>
      <add name="MaximumWearLocations" value="26"/>
      <add name="MaximumExperienceValue" value="500000"/>
      <add name="MinimumExperienceValue" value="20"/>
      <add name="MaximumLevel" value="65"/>
      <add name="MaximumBufferLines" value="60"/>
      <add name="MaximumConditionValue" value="100"/>
      <add name="MudProgMaxIfArgs" value="6"/>
      <add name="AffectDurationConversionValue" value="23.333333333333333333333333"/>
      <add name="LogDumpFrequencyMS" value="500"/>
      <add name="BanExpireFrequencyMS" value="60000"/>
      <add name="WeatherHeight" value="3"/>
      <add name="WeatherWidth" value="3"/>
      <add name="InitWeaponCondition" value="12"/>
      <add name="MinimumAuctionLevel" value="3"/>
      <add name="AuctionPulseSeconds" value="30"/>
      <add name="MinimumDevotionLevel" value="5"/>
      <add name="MaximumAuctionBid" value="2000000000"/>
      <add name="DefaultMaximumHealth" value="20"/>
      <add name="DefaultMaximumMana" value="100"/>
      <add name="DefaultMaximumMovement" value="100"/>
      
      <!-- Home -->
      <!--<add name="AppPath" value="D:\Projects\SmaugCS\trunk\" />-->
      <!-- Work -->
      <add name="AppPath" value="C:\Users\jmurdick\Documents\GitHub\smaug-cs\"/>
      <add name="ReadAllMail" value="58"/>
      <add name="ReadMailFree" value="51"/>
      <add name="WriteMailFree" value="51"/>
      <add name="TakeOthersMail" value="58"/>
      <add name="Muse" value="56"/>
      <add name="Think" value="60"/>
      <add name="Build" value="53"/>
      <add name="Log" value="53"/>
      <add name="ProtoFlag" value="56"/>
      <add name="OverridePrivate" value="61"/>
      <add name="MSetPlayer" value="56"/>
      <add name="StunPlayerVsPlayer" value="80"/>
      <add name="StunRegular" value="15"/>
      <add name="GougePlayerVsPlayer" value="40"/>
      <add name="GougeNonTank" value="80"/>
      <add name="BashPlayerVsPlayer" value="40"/>
      <add name="BashNonTank" value="80"/>
      <!-- damagemod 2 -->
      <!-- parrymod 2 -->
      <!-- tumblemod 4 -->
      <add name="ForcePlayer" value="56"/>
      <add name="SaveFlags" value="1445"/>
      <add name="SaveFrequency" value="20"/>
      <add name="BestowDiff" value="10"/>
      <add name="BanSiteLevel" value="61"/>
      <add name="BanRaceLevel" value="61"/>
      <add name="BanClassLevel" value="61"/>
      <add name="MorphOpt" value="true"/>
      <add name="PetSave" value="true"/>
      <add name="PKLoot" value="true"/>
    </Constants>
  </ConstantSection>
  <!-- Common VNUMs used in the mud -->
  <VnumSection>
    <RoomVnums>
      <add name="RoomLimbo" value="2"/>
      <add name="RoomTemple" value="21001"/>
      <add name="RoomAltar" value="21194"/>
      <add name="RoomSchool" value="10030"/>
    </RoomVnums>
    <ObjectVnums>
      <add name="ObjectMoneySingle" value="2"/>
      <add name="ObjectMoneyMulti" value="3"/>
      <add name="ObjectCorpseNPC" value="10"/>
      <add name="ObjectCorpsePC" value="11"/>
      <add name="ObjectSeveredHead" value="12"/>
      <add name="ObjectTornHeart" value="13"/>
      <add name="ObjectSlicedArm" value="14"/>
      <add name="ObjectSlicedLeg" value="15"/>
      <add name="ObjectSpilledGuts" value="16"/>
      <add name="ObjectBlood" value="17"/>
      <add name="ObjectBloodstain" value="18"/>
      <add name="ObjectScraps" value="19"/>
      <add name="ObjectMushroom" value="20"/>
      <add name="ObjectLightBall" value="21"/>
      <add name="ObjectSpring" value="22"/>
      <add name="ObjectSkin" value="23"/>
      <add name="ObjectSlice" value="24"/>
      <add name="ObjectShoppingBag" value="25"/>
      <add name="ObjectBloodlet" value="26"/>
      <add name="ObjectFire" value="30"/>
      <add name="ObjectTrap" value="31"/>
      <add name="ObjectPortal" value="32"/>
      <add name="ObjectBlackPowder" value="33"/>
      <add name="ObjectScrollForScribing" value="34"/>
      <add name="ObjectFlaskForBrewing" value="35"/>
      <add name="ObjectNote" value="36"/>
      <add name="ObjectDeity" value="64"/>
    </ObjectVnums>
    <MobileVnums>
      <add name="MobileSupermob" value="3"/>
      <add name="MobileVampire" value="80"/>
      <add name="MobileAnimatedCorpse" value="5"/>
      <add name="MobileDeity" value="17"/>
      <add name="MobileCityGuard" value="3060"/>
    </MobileVnums>
  </VnumSection>
  <!-- Section for system directories and file paths -->
  <SystemDataSection>
    <SystemValues>
      <add name="SecondsPerTick" value="70"/>
      <add name="PulsesPerSecond" value="4"/>
      <add name="PulseTick" value="6"/>
      <add name="PulseViolence" value="6"/>
      <add name="PulseMobile" value="2"/>
      <add name="HoursPerDay" value="24"/>
      <add name="DaysPerWeek" value="7"/>
      <add name="DaysPerMonth" value="31"/>
      <add name="MonthsPerYear" value="17"/>
      <add name="DaysPerYear" value="365"/>
      <add name="HourOfSunrise" value="5"/>
      <add name="HourOfDayBegin" value="6"/>
      <add name="HourOfNoon" value="12"/>
      <add name="HourOfSunset" value="17"/>
      <add name="HourOfNightBegin" value="18"/>
      <add name="HourOfMidnight" value="24"/>
    </SystemValues>
    <SystemDirectories>
      <add name="Area" Path="\areas\"/>
      <add name="Player" Path="\player\"/>
      <add name="Backup" Path="\backup\"/>
      <add name="God" Path="\gods\"/>
      <add name="Board" Path="\boards\"/>
      <add name="Clan" Path="\clans\"/>
      <add name="Council" Path="\councils\"/>
      <add name="Deity" Path="\deity\"/>
      <add name="Build" Path="\building\"/>
      <add name="System" Path="\system\"/>
      <add name="Prog" Path="\mudprogs\"/>
      <add name="Corpse" Path="\corpses\"/>
      <add name="Class" Path="\classes\"/>
      <add name="Race" Path="\races\"/>
      <add name="Watch" Path="\watch\"/>
      <add name="Hotboot" Path="\hotboot\"/>
      <add name="Color" Path="\color\"/>
    </SystemDirectories>
    <SystemFiles>
      <add name="Bans" Filename="bans.lst"/>
      <add name="Reserved" Filename="reserved.lst"/>
      <add name="Watches" Filename="watch.lst"/>
      <add name="Boards" Filename="boards.txt"/>
      <add name="ImmHost" Filename="immortal.host" UseSystemFolder="true"/>
      <add name="Wizards" Filename="WIZLIST" UseSystemFolder="true"/>
      <add name="Who" Filename="WHO" UseSystemFolder="true"/>
      <add name="WebWho" Filename="WEBWHO" UseSystemFolder="true"/>
      <add name="RequestPipe" Filename="REQUESTS" UseSystemFolder="true"/>
      <add name="Projects" Filename="projects.txt" UseSystemFolder="true"/>
      <add name="Hints" Filename="hints.txt" UseSystemFolder="true"/>
      <add name="DNS" Filename="dns.dat" UseSystemFolder="true"/>
      <!-- Login/Logout/Shutdown Screens/Messages -->
      <add name="RIPScreen" Filename="mudrip.rip" UseSystemFolder="true"/>
      <add name="RIPTitle" Filename="mudtitle.rip" UseSystemFolder="true"/>
      <add name="ANSITitle" Filename="mudtitle.ans" UseSystemFolder="true"/>
      <add name="ASCTitle" Filename="mudtitle.asc" UseSystemFolder="true"/>
      <add name="News" Filename="news.dat"/>
      <add name="NewsInclude" Filename="news.txt"/>
      <add name="LoginMsg" Filename="login.msg" UseSystemFolder="true"/>
      <add name="Shutdown" Filename="shutdown.txt"/>
      <!-- In-Game Static Data -->
      <add name="Skills" Filename="skills.lua" UseSystemFolder="true"/>
      <add name="Planes" Filename="planes.lua" UseSystemFolder="true"/>
      <add name="Weather" Filename="weathermap.dat"/>
      <add name="Holiday" Filename="holidays.lua" UseSystemFolder="true"/>
      <add name="Herbs" Filename="herbs.lua" UseSystemFolder="true"/>
      <add name="Tongues" Filename="tongues.lua" UseSystemFolder="true"/>
      <add name="Socials" Filename="socials.lua" UseSystemFolder="true"/>
      <add name="Commands" Filename="commands.lua" UseSystemFolder="true"/>
      <add name="StarMap" Filename="StarMap.txt" UseSystemFolder="true"/>
      <add name="SunMap" Filename="SunMap.txt" UseSystemFolder="true"/>
      <add name="MoonMap" Filename="MoonMap.txt" UseSystemFolder="true"/>
      <add name="Liquids" Filename="liquids.lua" UseSystemFolder="true"/>
      <add name="SpecFuns" Filename="specfuns.lua" UseSystemFolder="true"/>
      <add name="Mixtures" Filename="mixtures.lua" UseSystemFolder="true"/>
      <add name="Morphs" Filename="morphs.lua" UseSystemFolder="true"/>
      <add name="Lookups" Filename="Lookups.lua" UseSystemFolder="true"/>
    </SystemFiles>
  </SystemDataSection>
  <StaticStringSection>
    <MayorTextStrings>
      <add name="Wake" value="$n lies down and falls asleep."/>
      <add name="Hello" value="$n says 'Hello Honey!'"/>
      <add name="WhatAView" value="$n says 'What a view!  I must do something about that dump!'"/>
      <add name="Vandals" value="$n says 'Vandals!  Youngsters have no respect for anything!'"/>
      <add name="GoodDay" value="$n says 'Good day, citizens!'"/>
      <add name="OpenGate" value="$n says 'I hereby declare the town of {0} open!'"/>
      <add name="CloseGate" value="$n says 'I hereby declare the town of Darkhaven closed!'"/>
    </MayorTextStrings>
  </StaticStringSection>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  
  <log4net>
    <appender name="BootLogAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{BootLogName}"/>
      <staticLogFileName value="true"/>
      <appendToFile value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] [%-5level] %message%newline"/>
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="[BOOT]"/>
        <acceptOnMatch value="true"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
    <appender name="BugLogAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{BugsLogName}"/>
      <rollingStyle value="Size"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] [%-5level] %message%newline"/>
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="[BUG]"/>
        <acceptOnMatch value="true"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
    <appender name="RegularLogAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{SmaugLogName}"/>
      <rollingStyle value="Size"/>
/     <appendToFile value="true"/><maxSizeRollBackups value="10"/><maximumFileSize value="5MB"/><staticLogFileName value="true"/><lockingModel type="log4net.Appender.FileAppender+MinimalLock"/><layout type="log4net.Layout.PatternLayout"><param name="ConversionPattern" value="%date [%thread] [%-5level] %message%newline"/></layout><filter type="log4net.Filter.StringMatchFilter"><acceptOnMatch value="false"/><stringToMatch value="[BOOT]"/></filter><filter type="log4net.Filter.StringMatchFilter"><acceptOnMatch value="false"/><stringToMatch value="[BUG]"/></filter></appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="BootLogAppender"/>
      <appender-ref ref="RegularLogAppender"/>
      <appender-ref ref="BugLogAppender"/>
    </root>
  </log4net>
  
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log4net.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
 
</configuration>
