<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" requirePermission="false" />
    <section name="ConstantSection" type="SmaugCS.Constants.Config.ConstantConfigurationSection, SmaugCS.Constants" requirePermission="false" />
    <section name="VnumSection" type="SmaugCS.Constants.Config.VnumConfigurationSection, SmaugCS.Constants" requirePermission="false" />
    <section name="SystemDataSection" type="SmaugCS.Constants.Config.SystemDataConfigurationSection, SmaugCS.Constants" requirePermission="false" />
    <section name="StaticStringSection" type="SmaugCS.Constants.Config.StaticStringConfigurationSection, SmaugCS.Constants" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="RealmDbContext" connectionString="Data Source=C5175\SQL2008;Initial Catalog=Realm;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <add key="Races" value="Human,Azurnim,Caorlei,Vampire" />
    <!--Teralei,Denorlei,Taemier,Uralei,Vampire,ValAtur" />-->
    <add key="Classes" value="Mage,Cleric,Thief,Warrior" />
    <add key="Clans" value="Cleric,Mage,Thief,Warrior" />
    <add key="Deities" value="Maron" />
    <!-- Urman, Anaeras, Vulas, Talmar, Veanur, Vaenar, Melesa, Myasa, Olare, Akanis, Tanagos, Ur, Laisi, Amon Gwareth -->
    <add key="Areas" value="TheVoid,InnSevenRealms,Aran" />
    <!--help-->
    <add key="SysDataFile" value="sysdata.dat" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Councils" value="" />
    <add key="host" value="127.0.0.1" />
    <add key="port" value="9001" />
    <!-- System Data Values -->
    <add key="MudName" value="The Seven Realms" />
    <add key="CheckImmortalHost" value="true" />
    <add key="NameResolving" value="true" />
    <add key="WaitForAuthorization" value="false" />
    <add key="WizardLocked" value="false" />
  </appSettings>
  <!-- Various game constants -->
  <ConstantSection>
    <Constants>
      <add Name="MinNameLength" Value="3" />
      <add Name="MaxNameLength" Value="12" />
      <add Name="MaximumLayers" Value="8" />
      <add Name="MaximumWearLocations" Value="26" />
      <add Name="MaximumExperienceValue" Value="500000" />
      <add Name="MinimumExperienceValue" Value="20" />
      <add Name="MaximumLevel" Value="65" />
      <add Name="MaximumBufferLines" Value="60" />
      <add Name="MaximumConditionValue" Value="100" />
      <add Name="MudProgMaxIfArgs" Value="6" />
      <add Name="AffectDurationConversionValue" Value="23.333333333333333333333333" />
      <add Name="LogDumpFrequencyMS" Value="500" />
      <add Name="BanExpireFrequencyMS" Value="60000" />
      <add Name="WeatherHeight" Value="3" />
      <add Name="WeatherWidth" Value="3" />
      <add Name="InitWeaponCondition" Value="12" />
      <add Name="MinimumAuctionLevel" Value="3" />
      <add Name="AuctionPulseSeconds" Value="30" />
      <add Name="MinimumDevotionLevel" Value="5" />
      <add Name="MaximumAuctionBid" Value="2000000000" />
      <!-- Home -->
      <!--<add Name="AppPath" Value="D:\Projects\SmaugCS\trunk\" />-->
      <!-- Work -->
      <add Name="AppPath" Value="C:\Users\jmurdick\Documents\GitHub\smaug-cs\" />
      <add Name="ReadAllMail" Value="58" />
      <add Name="ReadMailFree" Value="51" />
      <add Name="WriteMailFree" Value="51" />
      <add Name="TakeOthersMail" Value="58" />
      <add Name="Muse" Value="56" />
      <add Name="Think" Value="60" />
      <add Name="Build" Value="53" />
      <add Name="Log" Value="53" />
      <add Name="ProtoFlag" Value="56" />
      <add Name="OverridePrivate" Value="61" />
      <add Name="MSetPlayer" Value="56" />
      <add Name="StunPlayerVsPlayer" Value="80" />
      <add Name="StunRegular" Value="15" />
      <add Name="GougePlayerVsPlayer" Value="40" />
      <add Name="GougeNonTank" Value="80" />
      <add Name="BashPlayerVsPlayer" Value="40" />
      <add Name="BashNonTank" Value="80" />
      <!-- damagemod 2 -->
      <!-- parrymod 2 -->
      <!-- tumblemod 4 -->
      <add Name="ForcePlayer" Value="56" />
      <add Name="SaveFlags" Value="1445" />
      <add Name="SaveFrequency" Value="20" />
      <add Name="BestowDiff" Value="10" />
      <add Name="BanSiteLevel" Value="61" />
      <add Name="BanRaceLevel" Value="61" />
      <add Name="BanClassLevel" Value="61" />
      <add Name="MorphOpt" Value="true" />
      <add Name="PetSave" Value="true" />
      <add Name="PKLoot" Value="true" />
    </Constants>
  </ConstantSection>
  <!-- Common VNUMs used in the mud -->
  <VnumSection>
    <RoomVnums>
      <add Name="RoomLimbo" Value="2" />
      <add Name="RoomTemple" Value="21001" />
      <add Name="RoomAltar" Value="21194" />
      <add Name="RoomSchool" Value="10030" />
    </RoomVnums>
    <ObjectVnums>
      <add Name="ObjectMoneySingle" Value="2" />
      <add Name="ObjectMoneyMulti" Value="3" />
      <add Name="ObjectCorpseNPC" Value="10" />
      <add Name="ObjectCorpsePC" Value="11" />
      <add Name="ObjectSeveredHead" Value="12" />
      <add Name="ObjectTornHeart" Value="13" />
      <add Name="ObjectSlicedArm" Value="14" />
      <add Name="ObjectSlicedLeg" Value="15" />
      <add Name="ObjectSpilledGuts" Value="16" />
      <add Name="ObjectBlood" Value="17" />
      <add Name="ObjectBloodstain" Value="18" />
      <add Name="ObjectScraps" Value="19" />
      <add Name="ObjectMushroom" Value="20" />
      <add Name="ObjectLightBall" Value="21" />
      <add Name="ObjectSpring" Value="22" />
      <add Name="ObjectSkin" Value="23" />
      <add Name="ObjectSlice" Value="24" />
      <add Name="ObjectShoppingBag" Value="25" />
      <add Name="ObjectBloodlet" Value="26" />
      <add Name="ObjectFire" Value="30" />
      <add Name="ObjectTrap" Value="31" />
      <add Name="ObjectPortal" Value="32" />
      <add Name="ObjectBlackPowder" Value="33" />
      <add Name="ObjectScrollForScribing" Value="34" />
      <add Name="ObjectFlaskForBrewing" Value="35" />
      <add Name="ObjectNote" Value="36" />
      <add Name="ObjectDeity" Value="64" />
    </ObjectVnums>
    <MobileVnums>
      <add Name="MobileSupermob" Value="3" />
      <add Name="MobileVampire" Value="80" />
      <add Name="MobileAnimatedCorpse" Value="5" />
      <add Name="MobileDeity" Value="17" />
      <add Name="MobileCityGuard" Value="3060" />
    </MobileVnums>
  </VnumSection>
  <!-- Section for system directories and file paths -->
  <SystemDataSection>
    <SystemValues>
      <add Name="SecondsPerTick" Value="70" />
      <add Name="PulsesPerSecond" Value="4" />
      <add Name="PulseTick" Value="6" />
      <add Name="PulseViolence" Value="6" />
      <add Name="PulseMobile" Value="2" />
      <add Name="HoursPerDay" Value="24" />
      <add Name="DaysPerWeek" Value="7" />
      <add Name="DaysPerMonth" Value="31" />
      <add Name="MonthsPerYear" Value="17" />
      <add Name="DaysPerYear" Value="365" />
      <add Name="HourOfSunrise" Value="5" />
      <add Name="HourOfDayBegin" Value="6" />
      <add Name="HourOfNoon" Value="12" />
      <add Name="HourOfSunset" Value="17" />
      <add Name="HourOfNightBegin" Value="18" />
      <add Name="HourOfMidnight" Value="24" />
    </SystemValues>
    <SystemDirectories>
      <add Name="Area" Path="\area\" />
      <add Name="Player" Path="\player\" />
      <add Name="Backup" Path="\backup\" />
      <add Name="God" Path="\gods\" />
      <add Name="Board" Path="\boards\" />
      <add Name="Clan" Path="\clans\" />
      <add Name="Council" Path="\councils\" />
      <add Name="Deity" Path="\deity\" />
      <add Name="Build" Path="\building\" />
      <add Name="System" Path="\system\" />
      <add Name="Prog" Path="\mudprogs\" />
      <add Name="Corpse" Path="\corpses\" />
      <add Name="Class" Path="\classes\" />
      <add Name="Race" Path="\races\" />
      <add Name="Watch" Path="\watch\" />
      <add Name="Hotboot" Path="\hotboot\" />
      <add Name="Color" Path="\color\" />
    </SystemDirectories>
    <SystemFiles>
      <add Name="Bans" Filename="bans.lst" />
      <add Name="Reserved" Filename="reserved.lst" />
      <add Name="Watches" Filename="watch.lst" />
      <add Name="Boards" Filename="boards.txt" />
      <add Name="ImmHost" Filename="immortal.host" UseSystemFolder="true" />
      <add Name="Wizards" Filename="WIZLIST" UseSystemFolder="true" />
      <add Name="Who" Filename="WHO" UseSystemFolder="true" />
      <add Name="WebWho" Filename="WEBWHO" UseSystemFolder="true" />
      <add Name="RequestPipe" Filename="REQUESTS" UseSystemFolder="true" />
      <add Name="Projects" Filename="projects.txt" UseSystemFolder="true" />
      <add Name="Hints" Filename="hints.txt" UseSystemFolder="true" />
      <add Name="DNS" Filename="dns.dat" UseSystemFolder="true" />
      <!-- Login/Logout/Shutdown Screens/Messages -->
      <add Name="RIPScreen" Filename="mudrip.rip" UseSystemFolder="true" />
      <add Name="RIPTitle" Filename="mudtitle.rip" UseSystemFolder="true" />
      <add Name="ANSITitle" Filename="mudtitle.ans" UseSystemFolder="true" />
      <add Name="ASCTitle" Filename="mudtitle.asc" UseSystemFolder="true" />
      <add Name="News" Filename="news.dat" />
      <add Name="NewsInclude" Filename="news.txt" />
      <add Name="LoginMsg" Filename="login.msg" UseSystemFolder="true" />
      <add Name="Shutdown" Filename="shutdown.txt" />
      <!-- In-Game Static Data -->
      <add Name="Skills" Filename="skills.lua" UseSystemFolder="true" />
      <add Name="Planes" Filename="planes.lua" UseSystemFolder="true" />
      <add Name="Weather" Filename="weathermap.dat" />
      <add Name="Holiday" Filename="holidays.lua" UseSystemFolder="true" />
      <add Name="Herbs" Filename="herbs.lua" UseSystemFolder="true" />
      <add Name="Tongues" Filename="tongues.lua" UseSystemFolder="true" />
      <add Name="Socials" Filename="socials.lua" UseSystemFolder="true" />
      <add Name="Commands" Filename="commands.lua" UseSystemFolder="true" />
      <add Name="StarMap" Filename="StarMap.txt" UseSystemFolder="true" />
      <add Name="SunMap" Filename="SunMap.txt" UseSystemFolder="true" />
      <add Name="MoonMap" Filename="MoonMap.txt" UseSystemFolder="true" />
      <add Name="Liquids" Filename="liquids.lua" UseSystemFolder="true" />
      <add Name="SpecFuns" Filename="specfuns.lua" UseSystemFolder="true" />
      <add Name="Mixtures" Filename="mixtures.lua" UseSystemFolder="true" />
      <add Name="Morphs" Filename="morphs.lua" UseSystemFolder="true" />
      <add Name="Lookups" Filename="Lookups.lua" UseSystemFolder="true" />
    </SystemFiles>
  </SystemDataSection>
  <StaticStringSection>
    <MayorTextStrings>
      <add Name="Wake" Value="$n lies down and falls asleep." />
      <add Name="Hello" Value="$n says 'Hello Honey!'" />
      <add Name="WhatAView" Value="$n says 'What a view!  I must do something about that dump!'" />
      <add Name="Vandals" Value="$n says 'Vandals!  Youngsters have no respect for anything!'" />
      <add Name="GoodDay" Value="$n says 'Good day, citizens!'" />
      <add Name="OpenGate" Value="$n says 'I hereby declare the town of {0} open!'" />
      <add Name="CloseGate" Value="$n says 'I hereby declare the town of Darkhaven closed!'" />
    </MayorTextStrings>
  </StaticStringSection>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  
  <log4net>
    <appender name="BootLogAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{BootLogName}" />
      <staticLogFileName value="true" />
      <appendToFile value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] [%-5level] %message%newline" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="[BOOT]" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="BugLogAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{BugsLogName}" />
      <rollingStyle value="Size" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] [%-5level] %message%newline" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="[BUG]" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="RegularLogAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{SmaugLogName}" />
      <rollingStyle value="Size" />
/     <appendToFile value="true" /><maxSizeRollBackups value="10" /><maximumFileSize value="5MB" /><staticLogFileName value="true" /><lockingModel type="log4net.Appender.FileAppender+MinimalLock" /><layout type="log4net.Layout.PatternLayout"><param name="ConversionPattern" value="%date [%thread] [%-5level] %message%newline" /></layout><filter type="log4net.Filter.StringMatchFilter"><acceptOnMatch value="false" /><stringToMatch value="[BOOT]" /></filter><filter type="log4net.Filter.StringMatchFilter"><acceptOnMatch value="false" /><stringToMatch value="[BUG]" /></filter></appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="BootLogAppender" />
      <appender-ref ref="RegularLogAppender" />
      <appender-ref ref="BugLogAppender" />
    </root>
  </log4net>
  
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
 
</configuration>