<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Warn">
	<targets>
		<target xsi:type="File"
					name="file"
					fileName="logs\\smaug-${shortdate}.log"
					archiveFileName="logs\\smaug-${shortdate}.{#####}.log"
					archiveAboveSize="4194304"
					archiveNumbering="Sequence"
					maxArchiveFiles="100"
					layout="${longdate}|${level:uppercase=true}|${threadid}|${logger}|${message}${exception:format=ToString,StackTrace}" />

		<target xsi:type="Console"
				name="console"
				layout="${longdate}|${level:uppercase=true}|${threadid}|${logger}|${message}${exception:format=ToString,StackTrace}" />
	</targets>

	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>