<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" requirePermission="false" />
    <section name="ConstantSection" type="SmaugCS.Constants.Config.ConstantConfigurationSection, SmaugCS.Constants" requirePermission="false" />
    <section name="VnumSection" type="SmaugCS.Constants.Config.VnumConfigurationSection, SmaugCS.Constants" requirePermission="false" />
    <section name="SystemDataSection" type="SmaugCS.Constants.Config.SystemDataConfigurationSection, SmaugCS.Constants" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SmaugDB" connectionString="metadata=res://*/SmaugDB.csdl|res://*/SmaugDB.ssdl|res://*/SmaugDB.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\SmaugCS.sdf&quot;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    
    <!--<add key="Races" value="Human,Elf,Dwarf,Halfling,Pixie,_Vampire_,Half-Ogre,Half-Orc,Half-Troll,Half-Elf,Lizardman,Sea-Elf,Gith,Drow,Gnome"/>-->
    <add key="Races" value="Human" />
    <!--<add key="Classes" value="Warrior,Augurer,Cleric,Druid,Mage,Monger,Nephandi,Paladin,Pirate,Range,Savage,Thief,Vampire"/>-->
    <add key="Classes" value="Warrior,Thief" />
    <add key="Clans" value="Augurer,Cleric,Druid,Mage,Ranger,Thief,Vampire,Warrior" />
    <add key="Deities" value="maron" />
    <!--<add key="Areas" value="help,TheVoid,InnSevenRealms,astral,Build,chapel,daycare,dwarven,export,gallery,gods,grave,grove,haon,limbo,manor,midennir,newacad,newdark,newgate,pixie,plains,redferne,sewer,srefuge,unholy"/>-->
    <add key="Areas" value="TheVoid,InnSevenRealms" />
    <add key="SysDataFile" value="sysdata.dat" />
    <add key="SmaugDatabasePassword" value="Despair#1994" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <add key="host" value="127.0.0.1"/>
    <add key="port" value="9001"/>
  </appSettings>
  <!-- Various game constants -->
  <ConstantSection>
    <Constants>
      <add Name="MinNameLength" Value="3" />
      <add Name="MaxNameLength" Value="12" />
      <add Name="MaximumLayers" Value="8" />
      <add Name="MaximumWearLocations" Value="26" />
      <add Name="MaximumExperienceValue" Value="500000" />
      <add Name="MinimumExperienceValue" Value="20" />
      <add Name="MaximumLevel" Value="65" />
      <add Name="MaximumBufferLines" Value="60" />
      <add Name="MudProgMaxIfArgs" Value="6" />
      <add Name="DataPath" Value="D:\Projects\SmaugCS\trunk\data" />
      <add Name="AffectDurationConversionValue" value="23.333333333333333333333333" />
      <!-- Home -->
      <!--<add Name="DataPath" Value="C:\Users\wmurdick\Documents\Visual Studio 2012\Projects\SmaugCS\data" />-->
      <!-- Work -->
    </Constants>
  </ConstantSection>
  <!-- Common VNUMs used in the mud -->
  <VnumSection>
    <RoomVnums>
      <add Name="RoomLimbo" Value="2" />
      <add Name="RoomTemple" Value="21001" />
      <add Name="RoomAltar" Value="21194" />
      <add Name="RoomSchool" Value="10030" />
    </RoomVnums>
    <ObjectVnums>
      <add Name="ObjectMoneySingle" Value="2" />
      <add Name="ObjectMoneyMulti" Value="3" />
      <add Name="ObjectCorpseNPC" Value="10" />
      <add Name="ObjectCorpsePC" Value="11" />
      <add Name="ObjectSeveredHead" Value="12" />
      <add Name="ObjectTornHeart" Value="13" />
      <add Name="ObjectSlicedArm" Value="14" />
      <add Name="ObjectSlicedLeg" Value="15" />
      <add Name="ObjectSpilledGuts" Value="16" />
      <add Name="ObjectBlood" Value="17" />
      <add Name="ObjectBloodstain" Value="18" />
      <add Name="ObjectScraps" Value="19" />
      <add Name="ObjectMushroom" Value="20" />
      <add Name="ObjectLightBall" Value="21" />
      <add Name="ObjectSpring" Value="22" />
      <add Name="ObjectSkin" Value="23" />
      <add Name="ObjectSlice" Value="24" />
      <add Name="ObjectShoppingBag" Value="25" />
      <add Name="ObjectBloodlet" Value="26" />
      <add Name="ObjectFire" Value="30" />
      <add Name="ObjectTrap" Value="31" />
      <add Name="ObjectPortal" Value="32" />
      <add Name="ObjectBlackPowder" Value="33" />
      <add Name="ObjectScrollForScribing" Value="34" />
      <add Name="ObjectFlaskForBrewing" Value="35" />
      <add Name="ObjectNote" Value="36" />
      <add Name="ObjectDeity" Value="64" />
    </ObjectVnums>
    <MobileVnums>
      <add Name="MobileSupermob" Value="3" />
      <add Name="MobileVampire" Value="80" />
      <add Name="MobileAnimatedCorpse" Value="5" />
      <add Name="MobileDeity" Value="17" />
      <add Name="MobileCityGuard" Value="3060" />
    </MobileVnums>
  </VnumSection>
  <!-- Section for system directories and file paths -->
  <SystemDataSection>
    <SystemDirectories>
      <add Name="Area" Path="area" />
      <add Name="Player" Path="\player\" />
      <add Name="Backup" Path="\backup\" />
      <add Name="God" Path="\gods\" />
      <add Name="Board" Path="\boards\" />
      <add Name="Clan" Path="\clans\" />
      <add Name="Council" Path="\councils\" />
      <add Name="Deity" Path="\deith\" />
      <add Name="Build" Path="\building\" />
      <add Name="System" Path="\system\" />
      <add Name="Prog" Path="\mudprogs\" />
      <add Name="Corpse" Path="\corpses\" />
      <add Name="Class" Path="\classes\" />
      <add Name="Race" Path="\races\" />
      <add Name="Watch" Path="\watch\" />
      <add Name="Hotboot" Path="\hotboot\" />
      <add Name="Color" Path="\color\" />
    </SystemDirectories>
    <SystemFiles>
      <add Name="Bans" Filename="bans.lst" />
      <add Name="Reserved" Filename="reserved.lst" />
      <add Name="Watches" Filename="watch.lst" />
      <add Name="Boards" Filename="boards.txt" />
      <add Name="ImmHost" Filename="immortal.host" UseSystemFolder="true" />
      <add Name="Wizards" Filename="WIZLIST" UseSystemFolder="true" />
      <add Name="Who" Filename="WHO" UseSystemFolder="true" />
      <add Name="WebWho" Filename="WEBWHO" UseSystemFolder="true" />
      <add Name="RequestPipe" Filename="REQUESTS" UseSystemFolder="true" />
      <add Name="Projects" Filename="projects.txt" UseSystemFolder="true" />
      <add Name="Hints" Filename="hints.txt" UseSystemFolder="true" />
      <add Name="DNS" Filename="dns.dat" UseSystemFolder="true" />
      <!-- Login/Logout/Shutdown Screens/Messages -->
      <add Name="RIPScreen" Filename="mudrip.rip" UseSystemFolder="true" />
      <add Name="RIPTitle" Filename="mudtitle.rip" UseSystemFolder="true" />
      <add Name="ANSITitle" Filename="mudtitle.ans" UseSystemFolder="true" />
      <add Name="ASCTitle" Filename="mudtitle.asc" UseSystemFolder="true" />
      <add Name="News" Filename="news.dat" />
      <add Name="NewsInclude" Filename="news.txt" />
      <add Name="LoginMsg" Filename="login.msg" UseSystemFolder="true" />
      <add Name="Shutdown" Filename="shutdown.txt" />
      <!-- In-Game Static Data -->
      <add Name="Skills" Filename="skills.lua" UseSystemFolder="true" />
      <add Name="Planes" Filename="planes.lua" UseSystemFolder="true" />
      <add Name="Weather" Filename="weathermap.dat" />
      <add Name="Holiday" Filename="holidays.lua" UseSystemFolder="true" />
      <add Name="Herbs" Filename="herbs.lua" UseSystemFolder="true" />
      <add Name="Tongues" Filename="tongues.lua" UseSystemFolder="true" />
      <add Name="Socials" Filename="socials.lua" UseSystemFolder="true" />
      <add Name="Commands" Filename="commands.lua" UseSystemFolder="true" />
      <add Name="StarMap" Filename="StarMap.txt" UseSystemFolder="true" />
      <add Name="SunMap" Filename="SunMap.txt" UseSystemFolder="true" />
      <add Name="MoonMap" Filename="MoonMap.txt" UseSystemFolder="true" />
      <add Name="Liquids" Filename="liquids.lua" UseSystemFolder="true" />
      <add Name="SpecFuns" Filename="specfuns.lua" UseSystemFolder="true" />
      <add Name="Mixtures" Filename="mixtures.lua" UseSystemFolder="true" />
      <add Name="Morphs" Filename="morphs.lua" UseSystemFolder="true" />
      <add Name="Lookups" Filename="Lookups.lua" UseSystemFolder="true" />
    </SystemFiles>
  </SystemDataSection>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net>
    <appender name="BootLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\..\logs\boot_" />
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <appendToFile value="false" />
      <param name="DatePattern" value="yyyyMMdd-HHmmss.\tx\t" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] [%-5level] %message%newline" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="[BOOT]" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="BugLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\..\logs\bugs.txt" />
      <rollingStyle value="Size" />
      /     <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] [%-5level] %message%newline" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="[BUG]" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="RegularLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\..\logs\smaug.txt" />
      <rollingStyle value="Size" />
/     <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] [%-5level] %message%newline" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <acceptOnMatch value="false" />
        <stringToMatch value="[BOOT]" />
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <acceptOnMatch value="false" />
        <stringToMatch value="[BUG]" />
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="BootLogAppender" />
      <appender-ref ref="RegularLogAppender" />
      <appender-ref ref="BugLogAppender" />
    </root>
  </log4net>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\..\logs\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>